.git
.github
.idea
.vscode
.cursor
node_modules
vendor
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
.phpunit.result.cache
.env
.env.*
!.env.example
dist
*.md
!README.md
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
