/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/bootstrap/cache/*.php
/.idea
/.vscode
/.vagrant
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
